<footer>
  <div class="contacts">
    <h3>
      Контакты
    </h3>
    <div class="address">
      <a href="https://maps.app.goo.gl/PKynoX3c9Lw77SKC9">
        <img src="pics/address_2.png" alt="Адрес">
      </a>
      <li>
        Адрес: ул. Марата, 69-71, Санкт-Петербург, 191119, б-ц RENAISSANCE PLAZA
      </li>
    </div>
    <div class="phone">
      <img src="pics/phone.png" alt="Телефон">
      <li>
        Телефон: 89214567890
      </li>
    </div>
    <div class="email">
      <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.google.com/intl/ru/gmail/about/&ved=2ahUKEwiSkMry4_SIAxWvEhAIHYmPA9EQFnoECAgQAQ&usg=AOvVaw2F5WNzU4dZeDIZB61Xn48l">
        <img src="pics/email.png" alt="Почта">
      </a>
      <li>
        Email: roga_kopyta777@gmail.com
      </li>
    </div>
  </div>
  <div class="help">
    <h3 >
      Мы готовы Вам помочь:
    </h3>
    <a href="/request-add" class="button">Оставить заявку</a>
  </div>
</footer>