<header>
  <div class="logo">
    <a href="/main">
      <img src="pics/logo_new.png" alt="Логотип" id="logoImage">
    </a>
  </div>
  <div class="slogan"> <h1> with us - you are in law </h1> </div>

  {{> menu}}
</header>