{{#if isAuthenticated}}
  <!-- Состояние для авторизованного пользователя -->
  <div class="welcome-message">
    <h3>Добро пожаловать, {{user}}!</h3>
    <p>Вы успешно вошли в систему</p>
    <form id="logoutForm">
      <button type="submit">Выйти</button>
    </form>
  </div>
{{else}}
  <!-- Состояние для неавторизованного пользователя -->
  <div class="register-message">
    <h3>Пожалуйста, войдите в систему, чтобы получить доступ к полному функционалу</h3>
    <form class="login-prompt" id="loginForm">
      <label>
        <input type="text" placeholder="Email" class="login_input" name="email" id="userEmail" required>
      </label>
      <label>
        <input type="password" placeholder="Пароль" class="password_input" name="password" id="userPassword" required>
      </label>
      <button type="submit" class="login_button">Войти</button>
    </form>
  </div>
{{/if}}

<script>
  document.getElementById('loginForm').addEventListener('submit', async (event) => {
    event.preventDefault();
    const email = document.getElementById('userEmail').value;
    const password = document.getElementById('userPassword').value;

    const response = await fetch('/auth/signin', {
      method: 'POST',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        formFields: [
          { id: 'email', value: email },
          { id: 'password', value: password }
        ],
      }),
    });

    if (response.ok) {
      window.location.href = '/main';

    } else {
      const error = await response.json();
      alert('Ошибка входа: ' + error.message);
    }

  });
</script>

<script>
  const logoutForm = document.getElementById('logoutForm');
  if (logoutForm) {
    logoutForm.addEventListener('submit', async (e) => {
      e.preventDefault();
      const response = await fetch('/auth/signout', {
        method: 'POST',
        credentials: 'include',
      });
      if (response.ok) {
        window.location.reload();
      } else {
        console.error('Ошибка при выходе');
        alert('Ошибка при выходе. Пожалуйста, попробуйте еще раз.');
      }
    });
  }
</script>
