{{#if isAuthenticated}}
  <!-- Состояние для авторизованного пользователя -->
  <div class="welcome-message">
    <h3>Добро пожаловать, {{user}}!</h3>
    <p>Вы успешно вошли в систему</p>
    <a href="/main?auth=false">Выйти</a>
  </div>
{{else}}
  <!-- Состояние для неавторизованного пользователя -->
  <div class="register-message">
    <h3>Пожалуйста, войдите в систему, чтобы получить доступ к полному функционалу</h3>
    <form class="login-prompt" action="/main" method="POST">
      <label>
        <input type="text" placeholder="Логин" class="login_input" name="username">
      </label>
      <label>
        <input type="text" placeholder="Пароль" class="password_input" name="password">
      </label>
      <button type="submit" class="login_button">Войти</button>
    </form>
  </div>
{{/if}}