<div class="menu">
  <ul>
    <li><a class="link" href="../../../public/pages/main.html">Главная</a></li>
    <li><a class="link" href="../../../public/pages/services.html">Услуги</a></li>
    <li><a class="link" href="../../../public/pages/team.html">Команда</a></li>
    <li><a class="link" href="../../../public/pages/client_feedbacks.html">Отзывы</a></li>
  </ul>
</div>