<main>
  <h1>Список отзывов</h1>
  <div class="container">
    <div id="preloader" class="preloader">
      <img src="pics/load.gif" alt="gif">
      <p>Загрузка...</p>
    </div>
    <div id="comment-list" class="comments"></div>
    {{> user_status/authorization}}
  </div>
</main>