<main>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <div class="entity-edit">
      <h1>Редактирование контактов</h1>
      <form id="editContactForm">
        <label for="address">Адрес:</label>
        <label>
          <input id="addressInput" type="text" name="address">
        </label>
        <label for="phone">Телефон:</label>
        <label>
          <input id="phoneInput" type="text" name="phone" >
        </label>
        <label for="email">Почта:</label>
        <label>
          <input id="emailInput" type="text" name="email" >
        </label>
        <label for="mapsLink">Карта:</label>
        <label>
          <input id="mapsLinkInput" type="text" name="mapsLink" >
        </label>
        <label for="firmName">Фирма:</label>
        <label>
          <input id="firmNameInput" type="text" name="firmName">
        </label>
        <button type="submit">Создать</button>
      </form>
  </div>
  <script>
    document.getElementById('editContactForm').addEventListener('submit', async (e) =>{
        e.preventDefault();

        const address = document.getElementById('addressInput').value;
        const phone = document.getElementById('phoneInput').value;
        const email = document.getElementById('emailInput').value;
        const mapsLink = document.getElementById('mapsLinkInput').value;
        const firmName = document.getElementById('firmNameInput').value;


        const data = { address, phone, email, mapsLink, firmName};
        const contactId = {{id}};


        fetch(`http://localhost:8082/contact-edit/${contactId}`, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
          .then(response => response.json())
          .then(data => {

            console.log('Success:', data);
          })
          .catch((error) => {
            console.error('Error:', error);
          });
    });
  </script>

  <script>
    toastr.options = { positionClass: 'toast-top-right' , timeout: 5000 };

    function setupEventSource() {
      const eventSource = new EventSource('http://localhost:8082/contact-events');

      // Обработчик для события, которое приходит от сервера
      eventSource.onmessage = (event) => {
        try {
          const data = JSON.parse(event.data);
          if (data.message) {
            toastr.info(data.message);
          }
        } catch (e) {
          console.error('SSE parse error:', e);
        }
      };

      // Обработчик для ошибок SSE
      eventSource.onerror = (e) => {
        console.error('SSE error:', e);
        eventSource.close();
        setTimeout(setupEventSource, 2000); // Переподключение через 2 сек
      };
    }
    document.addEventListener('DOMContentLoaded', setupEventSource)
  </script>
</main>