<main>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <div class="entity-add">
      <form action="/contact-add" method="post">
        <label for="address">Адрес:</label>
        <label>
          <input type="text" name="address">
        </label>
        <label for="phone">Телефон:</label>
        <label>
          <input type="text" name="phone" >
        </label>
        <label for="email">Почта:</label>
        <label>
          <input type="text" name="email" >
        </label>
        <label for="mapsLink">Карта:</label>
        <label>
          <input type="text" name="mapsLink" >
        </label>
        <label for="firmName">Фирма:</label>
        <label>
          <input type="text" name="firmName">
        </label>
        <button type="submit">Создать</button>
      </form>
  </div>
  <script>
    toastr.options = { positionClass: 'toast-top-right',  timeout: 5000  };

    function setupEventSource() {
      const eventSource = new EventSource('http://localhost:8082/contact-events');

      // Обработчик для события, которое приходит от сервера
      eventSource.onmessage = (event) => {

        try {
          const data = JSON.parse(event.data);
          if (data.message) {
            toastr.info(data.message);
          }
        } catch (e) {
          console.error('SSE parse error:', e);
        }
      };

      // Обработчик для ошибок SSE
      eventSource.onerror = (e) => {
        console.error('SSE error:', e);
        eventSource.close();
        setTimeout(setupEventSource, 2000); // Переподключение через 2 сек
      };
    }
    document.addEventListener('DOMContentLoaded', setupEventSource,(e) => {
      e.preventDefault();
    });
  </script>
</main>