{{#> layout}}
  <h1>Редактирование контактов</h1>
  <form action="/contacts/{{this.id}}" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label>Адрес:</label>
    <label>
      <input type="text" name="address" >
    </label>
    <label>Телефон:</label>
    <label>
      <input type="text" name="phone" >
    </label>
    <label>Почта:</label>
    <label>
      <input type="text" name="email" >
    </label>
    <label>Карта:</label>
    <label>
      <input type="text" name="mapsLink" >
    </label>
    <label>Фирма:</label>
    <label>
      <input type="text" name="firmName" >
    </label>
    <button type="submit">Сохранить</button>
  </form>
{{/layout}}