  <main>
  <div class="entity-info">
          <p>{{name}}</p>
          <p>{{description}}</p>
          <p>{{contact}}</p>

          <a href="/firms">🔙 Назад к списку компаний</a>
  </div>
  </main>


