  <main>
  <div class="entity-info">
    {{#if alertMessage}}
      <script>
        alert("{{alertMessage}}");
      </script>
    {{/if}}
          <p>{{name}}</p>
          <p>{{description}}</p>
          <p>{{contact}}</p>

          <a href="/firms">🔙 Назад к списку компаний</a>
  </div>
  </main>


