{{#> layout}}
<form action="/firms" method="post">
  <label for="name">Название фирмы:</label>
  <input type="text" id="name" name="name" required>

  <label for="description">Описание:</label>
  <textarea id="description" name="description" required></textarea>

  <button type="submit">Создать</button>
</form>
{{/layout}}