<main>
  <div class="entity-edit">
    <h1>Редактирование компании</h1>
    <form id="editFirmForm">
      <label>Название:</label>
      <label>
        <input id="nameInput" type="text" name="name" required>
      </label>
      <label>Описание:</label>
      <label>
        <input id="descriptionInput" type="text" name="description" required>
      </label>
      <button type="submit">Сохранить</button>
    </form>
  </div>
<script>
  document.getElementById('editFirmForm').addEventListener('submit', async (e) =>{
    e.preventDefault();

    const name = document.getElementById('nameInput').value;
    const description = document.getElementById('descriptionInput').value;

    const data = { name, description};
    const firmId = {{id}};

    fetch(`http://localhost:8082/firm-edit/${firmId}`, {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  });
</script>
</main>