{{#> layout}}
  <main>
      <div class="container">
        <div class="we">
          <section>
            <h2> О нас </h2>
            <div class="center">
              <p> Наша юридическая фирма специализируется на решении таможенных споров, предоставляет комплексные юридические услуги в области международного бизнеса.
                Наши эксперты готовы помочь вам с любым вопросом, будь то сопровождение внешнеэкономического контракта, локализация бизнеса в России, таможенные споры или санкционные хитрости.
              </p>
              <p> - Мы <em>разбираемся</em> в таможенных процедурах лучше таможенных органов, знаем все секреты успешного взаимодействия с иностранными контрагентами.
              </p>
              <p> <b> - Наш принцип</b> - понимать бизнес клиентов в мельчайших нюансах, поэтому мы не даем рекомендаций, мы точно знаем, что нужно делать.
              </p>
            </div>
          </section>
        </div>
        <div class="pleasure">
          <section>
            <h2> Наши ценности </h2>
            <ul>
              <li> Мы добиваемся результата в самых сложных вопросах взаимодействия с
                таможенными органами:
              </li>
              <ol>
                <li>
                  Помогаем выполнить условия и получить лицензию
                  уполномоченного оператора, предварительное классификационное решение,
                  предварительное решение о стоимости товара
                </li>
                <li>
                  Помогаем избежать штрафа от таможенных
                  органов, ответить на требование в рамках дополнительной проверки и получить
                  отсрочку таможенных платежей.
                </li>
              </ol>
              <li>
                Мы подготовим контракт на импорт или экспорт товаров и поможем избежать
                ошибок при определении условий контракта:
              </li>
              <ol>
                <li>
                  Проверим Вашего контрагента
                </li>
                <li>
                  Заранее подготовим документы, которые потребуются при выпуске под обеспечение
                </li>
                <li> Разработаем лицензионный договор и определим, нужно ли включать
                  роялти в таможенную стоимость
                </li>
                <li>
                  Избежим ошибок при заявлении тарифных
                  преференций и прохождении валютного контроля при импорте
                </li>
              </ol>
            </ul>
          </section>
        </div>
      </div>
      <div id="sidebar">
        <section>
          <aside>
            <blockquote>
              <p>"Идем туда, где страшно<br>
                Беремся за порой безвыходные дела и побеждаем."
              </p>
              <cite>Джим Лоулесс
              </cite>
            </blockquote>
          </aside>
        </section>
      </div>
      <div class="container">
        <div class="achievements">
          <section>
            <div>
              <article>
                <h2> Достижения </h2>
                <div class="center">
                  <ol>
                    <li> 01 - Мы классные</li>
                    <li> 02 - Мы супер </li>
                    <li> 03 - У нас большой опыт работы </li>
                  </ol>
                </div>
              </article>
            </div>
          </section>
        </div>
      </div>
    {{> user_status/authorization}}
  </main>
{{/layout}}