{{#> layout}}
  <h1>Редактирование сотрудников</h1>
  <form action="/members/{{this.id}}" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="firstName">Имя:</label>
    <label>
      <input type="text" name="firstName">
    </label>
    <label for="lastName">Фамилия:</label>
    <label>
      <input type="text" name="lastName" >
    </label>
    <label for="position">Должность:</label>
    <label>
      <input type="text" name="position" >
    </label>
    <button type="submit">Сохранить</button>
  </form>
{{/layout}}