<main>
  <div class="entity-add">
      <form action="/member-add" method="post" enctype="multipart/form-data">
        <label for="firstName">Имя:</label>
        <label>
          <input type="text" name="firstName">
        </label>
        <label for="lastName">Фамилия:</label>
        <label>
          <input type="text" name="lastName" >
        </label>
        <label for="position">Должность:</label>
        <label>
          <input type="text" name="position" >
        </label>
        <label for="firm">Фирма:</label>
        <label>
          <input type="text" name="firm" >
        </label>
        <label for="photo">Фото:</label>
        <label>
          <input type="file" name="photo" accept="image/*">
        </label>
        <button type="submit">Создать</button>
      </form>
  </div>
</main>