<main>
  <div class="entity-info">
    <p>{{firstName}}</p>
    <p>{{lastName}}</p>
    <p>{{position}}</p>

    <a href="/members">๐ ะะฐะทะฐะด ะบ ัะฟะธัะบั ัะพัััะดะฝะธะบะพะฒ</a>

  </div>
</main>
