<main>
  <div class="entity-info">
    {{#if alertMessage}}
      <script>
        alert("{{alertMessage}}");
      </script>
    {{/if}}

    <p>{{firstName}}</p>
    <p>{{lastName}}</p>
    <p>{{position}}</p>

    <a href="/members">🔙 Назад к списку сотрудников</a>

  </div>
</main>
