<main>
  <div class="request-add">
    <form action="/request-add" method="post">
      <label for="clientName">Имя клиента:</label>
      <label>
        <input type="text" name="clientName">
      </label>
      <label for="contactInfo">Контактные данные:</label>
      <label>
        <input type="text" name="contactInfo" >
      </label>
      <label for="serviceRequested">Запрашиваемая услуга:</label>
      <select id="serviceRequested" name="serviceRequested">
        <option value="service1">Консультирование сельхозпроизводителей</option>
        <option value="service2">Споры с таможней</option>
        <option value="service3">Трудовые споры</option>
        <option value="service4">Контракты</option>
        <option value="service5">Локализация бизнеса</option>
      </select>

      <button type="submit">Создать</button>
    </form>
  </div>
 </main>