<main>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <div class="entity-delete">
    <form id="deleteRequestForm">
      <h1>Желаете удалить запрос? Пожалуйста:</h1>
      <button type="submit">Удалить</button>
    </form>
  </div>
  <script>
    document.getElementById('deleteRequestForm').addEventListener('submit', async (e) =>{
      e.preventDefault();

      const requestId = {{id}};
      console.log('requestId:', requestId);

      fetch(`http://localhost:8082/request-delete/${requestId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => response.json())
        .then(data => {

          console.log('Success:', data);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });
  </script>

  <script>
    toastr.options = { positionClass: 'toast-top-right',  timeout: 5000  };

    function setupEventSource() {
      const eventSource = new EventSource('http://localhost:8082/request-events');

      // Обработчик для события, которое приходит от сервера
      eventSource.onmessage = (event) => {

        try {
          const data = JSON.parse(event.data);
          if (data.message) {
            toastr.info(data.message);
          }
        } catch (e) {
          console.error('SSE parse error:', e);
        }
      };

      // Обработчик для ошибок SSE
      eventSource.onerror = (e) => {
        console.error('SSE error:', e);
        eventSource.close();
        setTimeout(setupEventSource, 2000);
      };
    }
    document.addEventListener('DOMContentLoaded', setupEventSource)
  </script>
</main>