<div class="container">
  <h1> Судебные споры </h1>
  <div class="litigation">
    <section>
      <h2 class="in">
        Арбитраж/третейские суды
      </h2>
      <div class="center">
        <p> Мы можем помочь Вам как на стадии выбора международного коммерческого арбитража,
          так и непосредственно при рассмотрении спора.
        </p>
        <p> Наши юристы готовы помочь Вам в международных коммерческих арбитражных судах Стокгольма, Арбитражном центре Торгово-промышленной палаты и промышленности Женевы,
          Арбитражном суде Китайской палаты международной торговли, Арбитражной комиссии Пекина.
        </p>
      </div>
    </section>
  </div>
  <div class="customs">
    <section>
      <h2 class="out"> Споры с таможней </h2>
      <div class="center">
        <p> Мы вернем сумму КТС через суд, поможем оспорить и отменить
          классификационное решение таможенного органа, взыщем с таможни убытки и
          проценты за пользование денежными средствами, также представляем наших
          клиентов в спорах о привлечении к административной ответственности за
          недекларирование и/или недостоверное декларирование товаров.
        </p>
      </div>
      <div class="industry">
        <h3> Отрасли, в которых мы представляли клиентов в спорах с таможней:</h3>
        <div class="industries">
          <div class="left">
            <li id="1">
              - Легкая промышленность
            </li>
            <li id="2">
              - Пищевая промышленность
            </li>
            <li id="3">
              - Табачная индустрия
            </li>
          </div>
          <img src="../../../public/pics/industry.png" alt="Индустрии">
          <div class="right">
            <li id="4">
              - Нефтегазовая отрасль
            </li>
            <li id="5">
              - Фармацевтическая отрасль
            </li>
            <li id="6">
              - Транспортная отрасль и логистика
            </li>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="job">
    <section>
      <h2 class="out"> Трудовые споры </h2>
      <div class="center">
        <p> Мы готовы помочь работодателям отстоять свои интересы в спорах с работниками по делам о незаконном сокращении,
          неправомерном дисциплинарном взыскании, невыплате заработной платы и иным категориям трудовых споров.
        </p>
      </div>
    </section>
  </div>

  <h1> Внешнеэкономическая деятельность </h1>
  <div class="contracts">
    <section>
      <h2 class="in"> Контракты </h2>
      <div class="center">
        <p> Мы всегда учитываем ваши внутренние коммерческие процессы, поскольку каждый договор индивидуален.</p>
        <p> Наша цель - сделать его удобным, понятным и исполнимым. </p>
        <p> При этом наши юристы уделяют внимание каждой детали: налоговым рискам, таможенным вопросам, валютному регулированию, санкционным препятствиям, гражданско-правовым коллизиям и процессуальным особенностям.
          Мы знаем, как уменьшить ваши риски и создать комфортную правовую среду для ведения международного бизнеса.
        </p>
      </div>
    </section>
  </div>
  <div class="business">
    <section>
      <h2 class="out"> Локализация бизнеса </h2>
      <div class="center">
        <p>
          Поможем с выбором организационно-правовой формы компании, юридическим структурированием бизнеса, созданием и регистрацией компаний Вашего холдинга в России.
          После входа на рынок создадим необходимые условия для юридической защищенности Вашего бизнеса в ходе его развития и совершенствования.
        </p>
      </div>
    </section>
  </div>

  <h1> Сельское хозяйство </h1>
  <div class="farming">
    <section>
      <h2 class="in"> Консультирование сельхозпроизводителей </h2>
      <div class="center">
        <p>
          Мы сопроводим любой вид сделок: связанных с недвижимостью, куплей-продажей, поставкой продукции, аренды земельных участков, складских помещений, куплей-продажей, арендой и лизингом сельскохозяйственной техникой, возмездным оказанием различного рода услуг и т.д.
        </p>
      </div>
    </section>
  </div>
</div>