<main>
  <div class="entity-info">
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{category}}</p>
    <p>{{price}}</p>

    <a href="/all-services">๐ ะะฐะทะฐะด ะบ ัะฟะธัะบั ััะปัะณ</a>
  </div>
</main>