<main>
  <div class="entity-info">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <p>{{category}}</p>
    <p>{{price}}</p>

    <a href="/services">๐ ะะฐะทะฐะด ะบ ัะฟะธัะบั ััะปัะณ</a>
  </div>
</main>