<main>
    <h1> Рога и копыта:<span>наша дружная команда профессионалов</span></h1>
    <div class="box">
      <div class="left">
        <ul>
          {{#each leftTeamMembers}}
            {{> reuse_blocks/person_card}}
          {{/each}}
        </ul>
      </div>
      <div class="right">
        <ul>
          {{#each rightTeamMembers}}
            {{> reuse_blocks/person_card}}
          {{/each}}
        </ul>
      </div>
    </div>
  {{> user_status/authorization}}
</main>
