<main>
  {{> authorization}}
    <h1> Рога и копыта:<span>наша дружная команда профессионалов</span></h1>
    <div class="box">
      <div class="left">
        <ul>
          {{#each leftTeamMembers}}
            {{> card}}
          {{/each}}
        </ul>
      </div>
      <div class="right">
        <ul>
          {{#each rightTeamMembers}}
            {{> card}}
          {{/each}}
        </ul>
      </div>
    </div>
</main>
