{{> generalTemplate}}
<head>
  <link href="../../../public/styles/main.css" rel="stylesheet" />
</head>
<body>
<main>
  <div class="container">
    {{> mainPageContent}}
  </div>
  <div id="sidebar">
    <section>
      <aside>
        <blockquote>
          <p>"Идем туда, где страшно<br>
            Беремся за порой безвыходные дела и побеждаем."
          </p>
          <cite>Джим Лоулесс
          </cite>
        </blockquote>
      </aside>
    </section>
  </div>
  <div class="container">
    <div class="achievements">
      <section>
        <div>
          <article>
            <h2> Достижения </h2>
            <div class="center">
              <ol>
                <li> 01 - Мы классные</li>
                <li> 02 - Мы супер </li>
                <li> 03 - У нас большой опыт работы </li>
              </ol>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>
</main>
</body>
